* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../img/cork.png);
}
img{
    max-width: 100%;
}
.app_header {
    background-image: url(../img/wall.png);
    h1{
        padding: 1rem 0;
        font-size: 4rem;
        text-align: center;
        font-family: "Sometype Mono", monospace;

    }
}

.container{
    width: 90%;
    margin: auto;
    @media screen and (min-width: 768px){ 
        width: 80%;
    }
    @media screen and (min-width: 1024px){ 
        width: 70%;
    }
    @media screen and (min-width: 1440px){ 
        width: 60%;
    }
}
.row{
    margin: 1rem -1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem 0;
}
.col{
    width: calc( 100% / 12 * 9);
    padding: 0 1rem;
    @media screen and (min-width: 768px){ 
        width: calc( 100% / 12 * 6);
    }
    @media screen and (min-width: 1024px){ 
        width: calc( 100% / 12 * 4);
    }
}
.card{
    position: relative;
    padding: 1rem 1rem;
    background-color: white;
    transition: rotate .5s, scale .5s;
    height: 100%;
    margin: 1rem 0;
    
    .pin{
        position: absolute;
        top: -.8rem;
        left: 50%;
        width: 30px;
        transform: translate(-50%);

    }

    .card_body{
        padding: .5rem 0;
        font-family: "Edu TAS Beginner", sans-serif, cursive;
    }
}


.card:hover{
    rotate: 15deg;
    scale: 1.2;
    z-index: 100;
    .pin{
        display: none;
    }
}